.Calendar {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.col {
  padding: 0px !important;
}

.daysOfTheWeek {
  margin: 20px;
}

.agenda {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.agenda > * {
  margin-bottom: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.moodHeader {
  display: flex;
  align-items: baseline;
}

.moodHeader h3 {
  flex: 1 0 0;
}
