.chart {
  border: 1px lightgrey solid;
  border-radius: 10px;
  width: 50%;
  height: 100%;
}

.charts {
  justify-content: center;
}

.charts > * {
  padding: 10px;
}

@media (min-width: 768px) {
  .charts {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 50%));
  }
}
/* 
.chart1 {
  grid-area: chart1;
}

.chart2 {
  grid-area: chart2;
} */

.chart3 {
  grid-column: 1 / -1;
}

.stats {}

.counters {
  display: flex;
  justify-content: center;
}

.statistics-header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.view {
  flex: 1 0 0;
}

.active-button {
  background-color: #e2e6ea !important;
}

h5 {
  text-align: center;
  font-weight: normal;
}