.Task {
  display: flex;
  flex-direction: column;
  flex: 0 0 40px;
}

.checkbox {
  margin-left: 20px;
  margin-top: 25px;
  flex: 0 0 30px;
}

.Textarea {
  flex: 1 0 0;
}

.action-bar {
  padding: 10px 0;
}

.action-bar > * {
  margin-right: 10px;
  font-size: 0.8em !important;
}