.NavItem.nav-link span {
  padding-left: 5px;
}

.NavItem.nav-link:link {
  color: silver;
  text-decoration: none;
}

.NavItem.nav-link:hover {
  color: gray;
}

.NavItem.nav-link.active {
  color: gray;
}