.ViewSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  text-align: center;
}

.view {
  align-items: flex-end;
}

.navigation > * {
  flex: 1 0 0;
}

.icon {
  cursor: pointer;
}

.title {
  cursor: pointer;
}

.datePicker {
  margin: 10px auto 0 auto;
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 10px 30px;
  border: 1px lightgrey solid;
  width: 400px;
  left: 60px;
  right: 0;
}
