.ViewSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  text-align: center;
}

.view {
  align-items: flex-end;
}

.navigation > * {
  flex: 1 0 0;
}

.icon {
  margin: 20px;
  cursor: pointer;
}
