.User {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form {
  padding: 20px;
}

@media (min-width: 768px) {
  .form {
    width: 700px;
  }
}

.form > * {
  margin-bottom: 20px;
}

.submitButton {
  background-color: #4a8aa4 !important;
}

.login-button > *
{
  color: inherit !important;
  text-decoration: none !important;
}