.NavBar {
	background-color: #4a8aa4;
	padding: 0px !important;
	font-size: .9em;
}

nav {
	padding: 0px !important;
}

.nav-item {
	padding: 20px !important;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

@media (min-width: 768px) {
	#logo {
		padding: 20px;
	}

	.icon {
		margin-right: 10px;
		width: 20px !important;
	}
}

@media (max-width: 767px) {
	.nav-item {
		text-align: center;
	}

	.icon {
		font-size: 1.2em;
	}
}

.active {
	background-color: #124155;
}

.navFlex {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.navFlex > * {
	flex: 1 100%;
  }

#logo {
	height: 100%;
	text-align: center;
	align-self: center;
	width: 100%;
}