.NavBar {
  background-color: #4a8aa4;
  padding: 0px !important;
  font-size: 0.9em;
}

nav {
  padding: 0px !important;
}

@media (min-width: 768px) {
  nav {
    margin-top: 100px;
  }
}

.navFlex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.navFlex > * {
  flex: 1 100%;
}
