.Textbox {
  margin: 15px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.textboxForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.textboxForm > * {
  margin-bottom: 20px;
}

.add-task {
  cursor: pointer;
  display: flex;
  padding: 20px 20px 0 20px;
}

.add-text {
  margin-left: 24px;
}

.plus {
  margin-left: 5px;
}

.tasks {
  margin-top: 30px;
}
