.Textbox {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.textboxForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .textboxForm {
    padding: 50px;
  }
}

.textboxForm > * {
  margin-bottom: 20px;
}

textarea {
  resize: none !important;
  padding: 20px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
}

textarea:focus {
  outline: none;
  border-bottom: 1px solid #6fb6d3;
}

.addTask {
  display: flex;
  padding: 20px 20px 0 20px;
}

.addText {
  margin-left: 24px;
}

.plus {
  margin-left: 5px;
}

.tasks {
  margin-top: 30px;
}
